<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Email: <%= @user.email %></h1>
        <h2> My Donations:
            <% @donations.each do |donation| %>
            <div><%= donation.charity.name %>, $<%= donation.amount %> <%= donation.created_at %></div>
            <%end%>
        </h2>

        <h2>My charities:</h2>
        <% @charities.each do |charity| %>
            <%= link_to(charity.name, "/charities/" + charity.id.to_s) %>
            <p><%= charity.description %></p>
        <% end %>
    </body>
</html>
