<body>
    <h2 class="row">Email: <%= @user.email %></h2>
    <div class="row">
        <div class="large-8 columns">
            <h3> My Donations:</h3>
                <% @donations.each do |donation| %>
                    <div class="donation row"> Donated $<%= donation.amount %> to <%= link_to donation.charity.name, donation.charity %> for <%= donation.charity.cod.name %>.</div>
                <%end%>
            </h2>
        </div>
        <div class="large-4 columns">
            <h3>My charities:</h3>
            <% @charities.each do |charity| %>
                <%= link_to(charity.name, "/charities/" + charity.id.to_s) %>
                <p> In support of <%= charity.cod.name %> victims</p>
            <% end %>
        </div>
    </div>
</body>

