<html>
    <h2> Create a new Charity for <%= @cod.name %></h2>
    <%= simple_form_for @charity do |c| %>
        Charity Name:
        <br>
        <%= c.text_field :name %>
        <br>
        Description:
        <br>
        <%= c.text_field :description %>
        <br>
        <%= c.button :submit %>
    <% end %>
</html>
