<h3><%= @charity.name %></h3> (<%= @cod.name %>)
<br>
<em>Total Amount Raised: </em> $<%= @total_donations %>
<br>
make a new donation
<div class="row">
    <%= render 'donations/new' %>
</div>
all the others
<div class="row">
  <div>
    <%= render 'donations/index', donations: @donations %>
  </div>
</div>
