<html>
    <title>Panacea</title>
    <h1> Welcome to Panacea </h1>
    <!-- <% @countries.each do |country| %>
        <p><b><%= country.name %></b></p>
        <% country.cods.each do |cod| %>
            <% if current_user != nil %>
                <%= link_to("Create charity for " + cod.name, "/charities/new/" + cod.id.to_s) %>
            <% else %>
                <em><%= cod.name %></em>
            <% end %>
            <br>
        <% end %>
    <% end %> -->
    <b><%= @countries.first.name %></b>
    <br>
    <% @cods.each do |cod| %>
        <% if current_user != nil %>
            <%= link_to("Create charity for " + cod.name, "/charities/new/" + cod.id.to_s) %>
        <% else %>
            <em><%= cod.name %></em>
        <% end %>
        <br>
    <% end %>
</html>
