<div class="row">
  <h2> Charities for <%= @cod.name %> in <%= @country.name %>:</h2>
  <% if current_user != nil %>
      <button><%= link_to("Create a new Charity", "/charities/new/" + @cod.id.to_s + "/" + @country.id.to_s) %></button>
  <% else %>
      <button><%= link_to("Sign in Create a Charity", "/users/sign_in") %>
  <% end %></button>
  <%= render "charities/index", charities: @charities %>
</div>


