<h1><%= @country.name %></h1> (<%= @cod.name %>)
<br>
<br>
<% if current_user != nil %>
    <%= link_to("Create a new Charity", "/charities/new/" + @cod.id.to_s + "/" + @country.id.to_s) %>
<% else %>
    <%= link_to("Sign in Create a Charity", "/users/sign_in") %>
<% end %>
<br>
<% @charities.each do |charity| %>
    <%= link_to(charity.name, "/charities/" + charity.id.to_s)%>
    <% total = 0 %>
    <% charity.donations.each do |d| %>
        <% total = total + d.amount %>
    <% end %>
    <em>Total Raised: $<%= total %></em>
<% end %>
